
footer {
    display: flex;
    height: 10vh;
    position: fixed;
    padding-left: 37%;
}
.player {
   
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.player a {
    padding: 20px;
    max-width: 100px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movePlayer{
    padding-left: 42%;
    transition-delay: 200ms;
}