@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


*{
    box-sizing: border-box;
}

header div{
    height: 10vh;
}

body{
    display: flex;
    background-color: #09072C;
    font-family: 'Comfortaa', cursive;
    color: #FFF;
    font-size: 2.5vh;
    flex-direction: column;
}

footer{
    height: 10vh;
}

.main{
    padding: 5vh 10vh 0vh 10vh;
    width: 100%;
    height: 90vh;
    display: grid;
    row-gap: 5%;
    grid-template-rows: 15% 20% auto 20%;
    grid-template-areas: 'sectionMainTitle' ' sectionListenAgain' 'sectionHits' 'sectionNews';
    
}

.moveMain{
    padding: 5vh 10vh 0vh 20%;
    transition-delay: 200ms;
}

.section-main-title, .section-listen-again, .section-news{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-main-title{
    grid-area: sectionMainTitle;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1vh;
}

.section-listen-again{
    grid-area: sectionListenAgain;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1vh;
}

.section-hits{
    grid-area: sectionHits;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.hits-box{
    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: 'suggestionsTitle' ' avatarOptions' ;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1vh;
    padding: 2vh;
}

.suggestions-title{
    text-align: center;
    font-size: 22px;
    grid-area: suggestionsTitle;
}

.avatar-options{
    grid-area: avatarOptions;
    display: flex;
    gap: 5%;
    align-items: center;
    text-align: center;
}

.avatar-options ol{
    width: 45%;
    line-height: 1.6;
    font-size: 2vh;
}

.suggestions-avatar{
    border-radius: 50%;
    width: 50%;
}

.section-news{
    grid-area: sectionNews;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 1vh;
}
